bin/*
.idea/*
dist/*
test/cases/standalone/*
test/cases/edge-collection/*
test/cases/edge-standalone/*
test/cases/collection/*
!test/cases/standalone/.workloadConfig/
!test/cases/edge-collection/.workloadConfig/
!test/cases/edge-standalone/.workloadConfig/
!test/cases/collection/.workloadConfig/
**/*.log

# ignore all but the launch.json file in the .vscode directory
# NOTE: we do this to make our debug tests easily accessible to those using
# vscode
.vscode/*
!.vscode/launch.json
