bin/*
.idea/*
dist/*
test/cases/application/*
test/cases/edge-collection/*
test/cases/edge-standalone/*
test/cases/platform/*
!test/cases/application/.workloadConfig/
!test/cases/edge-collection/.workloadConfig/
!test/cases/edge-standalone/.workloadConfig/
!test/cases/platform/.workloadConfig/
