bin/*
.idea/*
dist/*
test/application/*
test/platform/*
test/edge-standalone/*
test/edge-collection/*
!test/application/.workloadConfig/
!test/platform/.workloadConfig/
!test/edge-standalone/.workloadConfig/
!test/edge-collection/.workloadConfig/
